{% extends './main-layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/pdf_upload.css' %}">
{% endblock %}
{% block content %}
<div class="cardbody">
    <div class="newrow">
        <div class="newcard">
            <div class="newcard-header">
                <button class="btn btn-warning headerbtn"><b>Process Framework</b></button><br /><br /><br />
            </div>
            <div class="card-body">
                <a href = '/project-lifecycle' class="btn btn-secondary">Project Lifecycle</a><br /><br /><br />
                <a href = '/sku-creation' class="btn btn-secondary">SKU Creation</a><br /><br /><br />
                <a href = '/cooler-onboarding' class="btn btn-secondary">Cooler Onboarding</a><br /><br /><br />
                <a href = '/support' class="btn btn-secondary">Support</a><br /><br /><br />
            </div>
        </div>
    </div>

    <div class="newrow">
        <div class="newcard">
            <div class="newcard-header">
                <button class="btn btn-warning headerbtn"><b>Process Timeline</b></button><br /><br /><br />
            </div>
            <div class="card-body">
                <a href = '/timeline-high' class="btn btn-secondary">Timeline(High)</a><br /><br /><br />
                <a href = '/timeline-detailed' class="btn btn-secondary">Timeline(Detailed)</a><br /><br /><br />
            </div>
        </div>
    </div>

    <div class="newrow">
        <div class="newcard">
            <div class="newcard-header">
                <button class="btn btn-warning headerbtn"><b>Ckecklists</b></button><br /><br /><br />
            </div>
            <div class="card-body">
                <a href = '/project' class="btn btn-secondary">Project</a><br /><br /><br />
                <a href = '/master-data-model' class="btn btn-secondary">Master Data & Model</a><br /><br /><br />
                <a href = '/mobile-web-apps' class="btn btn-secondary">Mobile & Web Apps</a><br /><br /><br />
                <a href = '/payment-integration' class="btn btn-secondary">Payment Integration</a><br /><br /><br />
                <a href = '/install-config' class="btn btn-secondary">Installation & Config</a><br /><br /><br />
                <a href = '/material-list' class="btn btn-secondary">Material List</a><br /><br /><br />
                <a href = '/checklist-cooler-onboarding' class="btn btn-secondary">Cooler Onboarding</a><br /><br /><br />
                <a href = '/cooler-health-check' class="btn btn-secondary">Cooler Health Check</a><br /><br /><br />
                <a href = '/dashboards' class="btn btn-secondary">Dashboards (PBI & Online Cooler Monitoring)</a><br /><br /><br />
            </div>
        </div>
    </div>


    <div class="newrow">
        <div class="newcard">
            <div class="newcard-header">
                <button class="btn btn-warning headerbtn"><b>Technical Documentation</b></button><br /><br /><br />
            </div>
            <div class="card-body">
                <a href = '/solution' class="btn btn-secondary">Solution</a><br /><br /><br />
                <a href = '/installation-manual' class="btn btn-secondary">Installation Manual</a><br /><br /><br />
                <a href = '/technical-cooler-onboarding' class="btn btn-secondary">Cooler Onboarding</a><br /><br /><br />
                <a href = '/transaction' class="btn btn-secondary">Transaction</a><br /><br /><br />
                <a href = '/operational' class="btn btn-secondary">Operational</a><br /><br /><br />
                <a href = '/technical-cooler-health-check' class="btn btn-secondary">Cooler Health Check</a><br /><br /><br />
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
{% endblock %}